
<div class="container-form">

	<%= simple_form_for @message do |f| %>
	  <%= f.input :title, label: 'Insert title please', error: 'title is mandatory, please specify one', placeholder: 'Title' %> 
	  <%= f.input :date %>
	  <%= f.input :localization, placeholder: 'Localization' %>
	  <%= f.input :notes, placeholder: 'Notes' %>
	  <%= f.button :submit %>
	<% end %>

</div>
