

<% @messages.each do |message| %>
	
	<div class="col-md-4">
		<div class="message">
			<div class="col-md-6" id="message-left">
			  <%= link_to message_path(message), class: "btn-custom-sm" do %>
			   	<i class="glyphicon glyphicon-menu-hamburger"></i>
			  <% end %>
				<h2 class="message-title"> <%= message.title %> </h2>
				<h4 class="message-localization"> <%= message.localization %> </h4>
			</div>
			<div class="col-md-6" id="message-right">
				<h4 class="message-date"> <%= message.date.to_formatted_s(:short) %> </h4>
			</div>				
		</div>
	</div>
<% end %>


<div id="circle1" class="circle">	
	<%= link_to "New", new_message_path, class: "footer" %>
</div>