<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MakeMyDate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<%= javascript_include_tag "https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js" %>
		
	</head>

  <body>
		<div class="navbar ">
			<div class="container">				
				<div class="navbar-header">
					<%= link_to "makeMyDate", root_path, class: "navbar-brand" %>
				</div>
				<ul class="nav navbar-nav">

					<li> <%= link_to "Sign up", new_user_registration_path %> </li>
						<% if user_signed_in? %>
							<li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
							<li>   <%= link_to current_user.email, class: 'navbar-right' %>  </li>			
						<% else %>
								<li> <%= link_to "Log In", new_user_session_path %> </li>

						<% end %>	
				</ul>				

				<% if user_signed_in? %>
					<p> <%= link_to "New Message", new_message_path, class: "navbar-right navbar-text navbar-link" %> </p>
				<% end %>	
			</div>
		</div>

  	<p class="notice"> <%= notice %> </p>
  	<p class="alert"> <%= alert %> </p>

   	<%= yield %>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=Your_api_key&callback=initMap"></script>	
  </body>
</html>
